body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #222222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center-container {
  margin: 0 auto;
  max-width: 768px;
}

.button-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border: none;
}

.button-icon:hover,
.button-icon:focus-visible {
  opacity: 0.5;
}

.subtitle {
  margin-left: 64px;
}

.page-title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 36px;
}

.form__author,
.form__date,
.form__textarea,
.form__submit {
  padding: 16px;
  background-color: #eceee8;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.form__error {
  box-sizing: border-box;
  margin: 0;
  padding: 0 16px;

  min-height: 20px;
  font-size: 16px;
  line-height: 20px;

  color:rgb(240, 100, 76);
  word-wrap: break-word;
}

.form__textarea {
  font-family: 'Arial', sans-serif;
}

.form__date {
  color: #757575;
}

.form__submit {
  grid-area: submit;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4a9653;
  color: #f0f0f0;
}

.form__submit:hover {
  opacity: 0.8;
}

.comments {
  padding: 36px;
}

.comments__title {
  text-align: center;
}

.comment {
  display: grid;
  grid-template-areas:
    "author remove"
    "text text"
    "date like";
  grid-template-columns: 1fr 24px;
  gap: 16px;
  padding-left: 48px;
  margin-bottom: 24px;

  margin-bottom: 32px;
  padding: 16px 32px;
  background-color: #eceee8;
  border-radius: 6px;
}

.comment__author {
  grid-area: author;
  font-weight:700;
  margin: 0;
}

.comment__date {
  grid-area: date;
  margin: 0;
  font-size: 14px;
}

.comment__text {
  grid-area: text;
  margin: 0;
}

.comment__like {
  grid-area: like;
  background-image: url("../images/heart-empty-icon.svg");
  align-self: end;
}

.comment__like--active {
  background-image: url("../images/heart-fill-icon.svg");
}

.comment__remove {
  grid-area: remove;
  align-self: start;
  justify-self: end;
  
  background-color: rgb(240, 100, 76);
  background-color: transparent;
  background-image: url("../images/trash-icon.svg");
}



